
.flex{
    display: flex;
}

h2#titulo{
    color: #fff;
    font-size: 38px;
    text-align: left;
}

h2#titulo span{
    color: #f4a406;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;     
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f4a406;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}


header{
    padding: 40px 4%;
    background-color: #f4a406;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;

}
header nav ul li {
    display: inline-block;
    padding: 0px 40px;

}

header a:hover{
    color: #ffffff;
    transform: scale(1.08);

}
header img{
    border-radius: 40px;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f4a406;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 8px #cb9f46;
    transform: scale(1.05);
}

header .btn-contato-header{
    background-color: #000;
    color:#f4a406
}

/* topo do site */

section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span{
    color: #f4a406;
    font-size: 60px;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 4s ease-in-out infinite alternate;
}
@keyframes flutuar {
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}



section.especialidades{
    padding: 80px 4%;
}
section.especialidades.flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff87;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color:#f4a406;
}
.especialidades .especialidades-box h3 {
    font-size: 25px;
    margin: 15px 0;
}

.especialidades a{
    text-decoration: none;
}


footer{
    background-color: #f4a406;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

section.sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

section.sobre .flex{
    gap: 60px;
}

.txt-sobre h2{
    font-size: 40px;
}
.txt-sobre h2 span{
    color: #f4a406;
    display: block;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #f4a406;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.especialidades-box li{
    color: #f4a406;
}
.especialidades-box a {
    color: #cb9f46;
}

.titulo{
    color: #fff;
}
.portiforio span{
    color: #f4a406;
}
h2 span{
align-items: center;
}

section.portiforio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #cb9f4665;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 100%;
    transform: .5s;
}

.img-port:hover{
    background-position: 100% 100%;
}
section.portiforio .flex{
}

.flex .img-port{
    margin-left: 30px;
}

.meus-trabalhos{
    background-color:#f4a5062e;
}
.sobre img{
    width: 400px;
}

/* deixando responsivo */

 @media screen and (max-width: 1000px){
    body{
        flex-direction: column;
    }
    .menu-desktop{
        display: none;
    }
    .flex{
        flex-direction: column;
    }
    .img-port{
        flex-direction: column;
        width: 300px;
    }
    .sobre img{
        width: 300px;
    }
}




/* 
CARROUSEL  */

  
  .carousel {
    position: relative;
    width:auto;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
    margin-top: 100px;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  